@page "/form-designer"
@using CQ.GS.Shared.Models;
@using CQ.GS.Shared.Utils.Attributes;

@attribute [PageInfo("表单设计", "无")]

<div>
    <div class="d-flex flex-grow-1 gap-4">
        <MudPaper Class="flex-none d-flex pa-6" Width="300px" Elevation="0">
            <div class="form-type-list">
                <div draggable="true"
                     @ondrop="HandleDrop"
                     @ondragstart="HandleStart"
                     @ondragenter="HandleDragEnter"
                     @ondragleave="HandleDragLeave"
                     @ondragend="HandleDragEnd"
                     @ondragover:preventDefault
                     @ondragenter:preventDefault
                     @ondrop:preventDefault
                     @ondrop:stopPropagation
                     @ondragenter:stopPropagation
                     @ondragend:stopPropagation
                     @ondragover:stopPropagation
                     @ondragleave:stopPropagation
                     @ondragstart:stopPropagation
                     class="border-solid pa-6 mud-theme-primary form-type-item">
                </div>
            </div>
        </MudPaper>
        <MudPaper Class="flex-1 d-flex" Elevation="0">
            <div @ondragenter="HandleDropDesignerEnter" @ondragleave="HandleDropDesignerLeave" @ondragover="HandleDropDesignerOver" style="width:100%;" class="pa-20 mud-theme-success">
                @foreach (var item in _list)
                {
                    <MudButton @ondragenter:stopPropagation @ondragleave:stopPropagation>@item</MudButton>
                }
            </div>
        </MudPaper>
        <MudPaper Class="flex-none d-flex py-8  mud-theme-primary" Width="300px" Elevation="0" />
    </div>
</div>

@code {
    private IList<string> _list = new List<string>();
    private bool _dropDesigner;


    private void HandleDrop()
    {

    }

    private void HandleStart(DragEventArgs args)
    {
        args.DataTransfer.Items.Append(new DataTransferItem()
            {
                Type = "text",
                Kind = "测试"
            });
    }

    private void HandleDragEnd()
    {
        if (_dropDesigner)
        {
            _list.Add("测试22");
        }

    }

    private void HandleDragLeave() { }

    private void HandleDragEnter() { }



    private void HandleDropDesigner()
    {


    }

    private void HandleDropDesignerEnter()
    {
        _list.Add("进入");
        _dropDesigner = true;
    }

    private void HandleDropDesignerLeave()
    {
        _list.Add("离开");

    }

    private void HandleDropDesignerOver()
    {
        if (!_dropDesigner)
        {
            _dropDesigner = true;
        }
    }

    private void HandlerDrop()
    {

        _list.Add("Drop");
    }
}
