@page "/form-designer"
@using CQ.GS.Shared.Models;
@using CQ.GS.Shared.Utils.Attributes;

@attribute [PageInfo("表单设计", "无")]

<div>
    <div class="d-flex flex-grow-1 gap-4">
        <MudPaper Class="flex-none d-flex pa-6" Width="300px" Elevation="0">
            <div class="form-type-list">
                <div draggable="true"
                     @ondrop="HandleDrop"
                     @ondragstart="HandleStart"
                     @ondragend="HandleDragEnd"
                     class="border-solid pa-6 mud-theme-primary form-type-item">
                </div>
                <div draggable="true"
                     @ondrop="HandleDrop"
                     @ondragstart="HandleStart"
                     @ondragend="HandleDragEnd"
                     class="border-solid pa-6 mud-theme-primary form-type-item">
                </div>
                <div draggable="true"
                     @ondrop="HandleDrop"
                     @ondragstart="HandleStart"
                     @ondragend="HandleDragEnd"
                     class="border-solid pa-6 mud-theme-primary form-type-item">
                </div>
            </div>
        </MudPaper>
        <MudPaper Class="flex-1 d-flex" Elevation="0">
            <MudGrid Class="pa-6">
                <MudItem md="12">

                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=12</MudPaper>

                    @*  <div class="from-designer"
                    @ondragenter="HandleDropDesignerEnter"
                    @ondragleave="HandleDropDesignerLeave"
                    @ondragover="HandleDropDesignerOver"
                    @ondragover:preventDefault
                    @ondragenter:preventDefault>
                    <MudField Label="测试" T="string" />
                    </div> *@
                </MudItem>
                <MudItem md="6">

                    <MudCard Elevation="0">
                        <MudCardContent>


                            <MudTextField Label="姓名" Variant="Variant.Text" T="string" />


                        </MudCardContent>

                        <MudCardActions Class="d-flex justify-end">
                            <MudButton Variant="Variant.Text" Color="Color.Primary">查询</MudButton>
                        </MudCardActions>

                    </MudCard>
                </MudItem>
                <MudItem md="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=12</MudPaper>
                </MudItem>
                <MudItem md="12">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=12</MudPaper>
                </MudItem>
                <MudItem md="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=12</MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
        <MudPaper Class="flex-none d-flex py-8  mud-theme-primary" Width="300px" Elevation="0" />
    </div>
</div>

@code {
    private IList<string> _list = new List<string>();
    private bool _dropDesigner;
    private bool _isEdit = false;


    private void HandleDrop()
    {

    }

    private void HandleStart(DragEventArgs args)
    {
        args.DataTransfer.Items.Append(new DataTransferItem()
            {
                Type = "text",
                Kind = "测试"
            });
    }

    private void HandleDragEnd()
    {
        if (_dropDesigner)
        {
            _list.Add("测试22");
        }

    }


    private void HandleDropDesignerEnter()
    {
        _list.Add("进入");
        _dropDesigner = true;
    }

    private void HandleDropDesignerLeave()
    {
        _list.Add("离开");
        _dropDesigner = false;
    }

    private void HandleDropDesignerOver()
    {
        if (!_dropDesigner)
        {
            _dropDesigner = true;
        }
    }

    private void HandlerDrop(DragEventArgs args)
    {

    }
}
