
::deep .diagram-port {
    position: absolute;
    transform: translate(-50%, -50%);
}

    ::deep .diagram-port.top {
        top: -10px;
    }

    ::deep .diagram-port.bottom {
        bottom: -30px;
    }

    ::deep .diagram-port.right {
        right: -24px;
        top: 50%;
    }
